// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  background-color: #3CCACE;
  color: #fff;
  border: none;
}

.comment{
  display: flex;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}

.comment-destroy {
  color: #19c4b8;
  background-color: rgba(46, 155, 99, 0.088);
  margin-left: 10px;
}

.comment-destroy:hover {
  color: #fff;
  background-color: #08c2e37b;
}